# Dependencies
node_modules/
./node_modules/*

# Environment files
.env
.env.local
.env.production

# Next.js
frontend/.next/
frontend/out/

# NestJS
backend/dist/

# packages
packages/sdk/dist/

# Prisma
*.db

# OS
.DS_Store
Thumbs.db
*.zip